.progamer {
<<<<<<< HEAD:src/app/components/progamer/styles/progamer.module.scss
  position: relative;
  color: red;
=======
    position: relative;
    margin-left: 30;
    font-size: 50px;
>>>>>>> fbf276ea8afd8c5cf5b8958f950b824e4275dfa1:src/app/components/login/progamer/styles/progamer.module.scss
}

// &Name {
//   -webkit-box-orient: vertical;
//   -webkit-line-clamp: 1;
//   display: -webkit-box;
//   position: absolute;
//   bottom: 10px;
//   left: 8px;
//   vertical-align: middle;
//   overflow: hidden;
//   color: #fdfcfd;
//   font-weight: bold;
//   font-size: 16px;
//   word-break: break-all;
// }
